*{
    margin: 0 auto;
    box-sizing: border-box !important;
}
body{
    
    background: #ffd6d6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    max-width: 1500px;
}
.container{
    height: 100px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 7px 0.1px rgb(24, 23, 23);
    align-items: center;
    

}
.nav{
    display: flex;
    
}
.nav-bar{
    flex: 1;
    margin: auto;
    margin-top: 35px;
    
}
.nav-bar ul{
    list-style-type: none;
}
.nav-bar ul li{
    display: inline-block;
    padding-right: 40px;
}
.nav img{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    
}
a{
    text-decoration: none;
    color: #333;

}
.nav-bar ul li a{
    letter-spacing: 2px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover{
    color: blue;
}
a:active{
    color: green;
}
.content{
    max-width: 1200px;
    margin-top: 20px;

}
section{
    max-width: 800px;
    width: 780px;
    height: 600px;
    float: left;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #fff;
    padding-top: 5px;
    z-index: -1;
    
}
h1{
    color: darkblue;
    text-decoration: underline;
    padding-bottom: 10px;
}
aside{
    max-width: 400px;
    max-height: 1000px;
    width: 350px;
    height: 960px;
    float: right;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 5px;
    padding-top: 5px;
    z-index: 1;
}

.content h1{
    font-size: 16px;
    font-weight: bold;
}
.tecno{
    margin-top: 10px;
}
.tecno img{
    width: 300px;
    cursor: pointer;
}
.tecno h4{
    font-size: 14px;
}
.tecno h4 a{
    color: brown;
}
h5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
    text-align: left;
    padding-left: 10px;

}
.t1, t2, t3{
    margin-bottom: 20px;
    padding-bottom: 10px;
}
hr{
    color: #333;
    width: 300px;
    border-width: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

article{
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}
article h5,p{
    font-size: 14px;

}
article p a{
    color: blue;
}
.art-1{
    display: flex;
    margin-bottom: 20px;
}
.art-1 img{
    width: 200px;
}
.news-content{
    margin-left: 5px;
}
.news-content h4{
    color: brown;
}
.art-1 img,h4{
    cursor: pointer;
}

footer{
    width: 1500px;
    height: 40px;
    background-color: #333;
    text-align: center;
    float: left;
    position: absolute;
    left: 0;
    
    bottom: 0px;
}
footer p{
    color: white;
    font-size: 15px;
    margin: 0 auto;
    padding-top: 10px;
}
footer p a{
    color: white;
}
footer p a:hover{
    color:tomato
}
